# os

#
# -- if this PyYAML line fails on Windows, try installing the (free) version of Visual Studio
#    to get the missing library...
PyYAML
pysocks
lxml
jira
jira_tools
openpyxl
requests
urllib3
git+http://bitbucket.org/paulha/otc_tools.git
git+http://github.com/paulha/utility_funcs.git
pandas
pytest
regex